<% if product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
    <% product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :category_id %>
  <%= f.collection_select :category_id, Category.order(:name), :id, :name %>
</div>

<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div class="field">
  <%= f.label :product_type_id %>
  <%= f.collection_select :product_type_id, ProductType.order(:name), :id, :name %>
</div>

<div class="field">
  <%= f.label :no_of_pages %>
  <%= f.number_field :no_of_pages %>
</div>

<div class="field">
  <%= f.label :publisher %>
  <%= f.text_field :publisher %>
</div>

<div class="field">
  <%= f.label :isbn %>
  <%= f.text_field :isbn %>
</div>

<div class="field">
  <%= f.label :price %>
  <%= f.text_field :price %>
</div>

<div class="field">
  <%= f.label :writer_name %>
  <%= f.text_field :writer_name %>
</div>

<div class="field">
  <%= f.label :image %>
  <%= f.file_field :image %>
</div>

<div class="field">
  <%= f.label :product_file %>
  <%= f.file_field :product_file %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
